<ul class="nav nav-pills ">
    <li><a ng-href="#category/all/when/{{when}}">All</a></li>
    <li><a ng-href="#category/arts-and-culture/when/{{when}}">Arts & Culture</a></li>
</ul>
<ul class="nav nav-pills">
    <li><a ng-href="#category/{{category}}/when/today" >Today</a></li>
    <li><a ng-href="#category/{{category}}/when/this-week">This week</a></li>
</ul>

<div ng-repeat="event in events">
    <div ng-if="$index % 3 == 0">
        <div class="row">
            <line-event ng-attr-line-event='events[$index+0]' ng-if='events[$index + 0]' class='col-xs-6 col-md-4' ></line-event>
            <line-event ng-attr-line-event='events[$index+1]' ng-if='events[$index + 1]' class='col-xs-6 col-md-4' ></line-event>
            <line-event ng-attr-line-event='events[$index+2]' ng-if='events[$index + 2]' class='col-xs-6 col-md-4' ></line-event>
        </div>
    </div>
</div>